/* Root Selector */
:root {
    --border-color:rgba(96, 103, 65);
    --text-color: rgb(48, 63, 63);
    --background-color: rgba(227, 218, 201);
    --header-text: rgb(0, 0, 0);
    --hover-text: rgba(48, 0, 0);
}
/* universal Selector */
* { font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
/* Element Selectors */
/* Body */
body {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin: auto;
    padding: auto;
    color: var(--text-color);
    background-color: var(--background-color);
}
/* Header */
header{
    border: 5px solid var(--border-color);
    margin: 20px;
    padding: 20px;
}
header {
    padding: 25px;
    background-image: url(./images/hygge-flooring.jpg);
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}

h1 {
    color: var(--background-color);
    margin: 20px;
    font-display: center;
    text-align: center;
    border-bottom: 5px solid var(--border-color);
}

nav {
    flex-wrap: wrap;
    width: auto;
    height: auto;
    color: var(--font-color);
    font: bold;
    font-size: larger;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px;
}
p {
    font-size: 16px;
    font-style: var(--text-color);
}
a {
    text-decoration: none;
    color: var(--header-text);
    transform: rotate(-180deg);
    font-size: 25px;
}

a:hover, .contact-info:hover {
    color: var(--hover-text);
}
h2 {
    border-bottom: 3px solid var(--border-color);
    width: fit-content;
    margin: 5px;
    padding: 5px;
}
footer {
    border: 5px solid var(--border-color);
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(162, 160, 147);
}
/* Class Selectors */
.work-references {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}

.lower-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.run-buddy {
    display: flex;
    border: 5px solid var(--border-color);
    width: 75vw;
    height: auto;
    border-radius: 25px 10px;
    padding: 5px;
    margin: 5px;
}

.code-refactor {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid var(--border-color);
    width: 30vw;
    height: auto;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
}

.robot-gladiators {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid var(--border-color);
    width: 30vw;
    height: auto;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
}

.container {
    margin: 20px;
    padding: 20px;
    width: 500;
    height: auto;
    border: 3px solid var(--border-color);
    flex-wrap: wrap;
    background-color: rgb(162, 160, 147);
}
.class-photo {
    width: 200px;
    height: 200px;
    flex-wrap: wrap;
    border: 5px solid var(--border-color);
    box-shadow: 10px 0px 40px 10px rgba(0, 0, 0);
    border-radius: 25px;
}

.contact-me{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row;
    margin: auto;
    padding: auto;
}

.map {
    margin: 5px;
    border: 5px solid var(--border-color);
    padding: 0px;
    max-width: max-content;
    border-radius: 10px;
}

.contact-info {
    border: 5px solid var(--border-color);
    text-align: center;
    align-items: flex-end;
    border-radius: 10px;
}

/* ID Selectors */
